// colors
$colorPrimary: #3b9fe2;
$colorSecondary: #9675ce;
$colorLink: #00a1cd;

$colorBlackPure: #000;
$colorBlackPrimary: #333;
$colorBlackSecondary: #2b2b2b;
$colorBlackAdditional: #565656;
$colorWhite: #fff;
$colorGrey: #f7fafc;

$colorTextPrimary: #4c5667;
$colorTextSecondary: #8d9ea7;
$colorTextComplementary: #a6afbb;
$colorTextAdditional: #54667a;

$colorSuccessPrimary: #00c292;
$colorSuccessSecondary: #01c0c8;
$colorWarning: #fec107;
$colorNotify: #fb9678;
$colorAlert: #e53935;

// radius
$radiusLoader: 20px;

// font-size
$fontSizeXXXL: 32px;
$fontSizeXXL: 28px;
$fontSizeXL: 24px;
$fontSizeL: 20px;
$fontSizeM: 16px;
$fontSizeS: 14px;
$fontSizeXS: 13px;
$fontSizeXXS: 10px;

// font-weight
$fontWeightBold: 700;
$fontWeightSemiBold: 600;
$fontWeightMedium: 500;
$fontWeightRegular: 400;
$fontWeightLight: 300;

// breakpoints
$breakpointXL: 1200px;
$breakpointL: 992px;
$breakpointMD: 768px;
$breakpointSM: 568px;