// widths
$widthContainer: 621px;

// paddings
$paddingContainer: 16px;

// colors
$colorPrimary: #eb4a42;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlackAdditional: #565656;

$colorTextPrimary: #555555;
$colorTextSecondary: #aaaaaa;
$colorTextComplementary: #cccccc;
$colorTextButtonDisabled: #bfbfbf;

$colorBackgroundInput: #eaeaea;
$colorBackgroundButtonDisabled: #e0e0e0;

$colorSuccessPrimary: #00c292;
$colorSuccessSecondary: #01c0c8;
$colorWarning: #fec107;
$colorNotify: #fb9678;
$colorAlert: #e53935;

// radius
$radiusDefault: 3px;
$radiusLoader: 20px;

// font-size
$fontSizeXL: 47px;;
$fontSizeL: 22px;
$fontSizeM: 16px;
$fontSizeS: 14px;

// font-weight
$fontWeightBold: 700;
$fontWeightSemiBold: 600;
$fontWeightMedium: 500;
$fontWeightRegular: 400;
$fontWeightLight: 300;
$fontWeightThin: 200;

// breakpoints
$breakpointXL: 1200px;
$breakpointL: 992px;
$breakpointMD: 768px;
$breakpointSM: 568px;