@import "./_fonts.scss";

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.618;
  color: $colorTextPrimary;
  font-size: $fontSizeM;
  background: $colorWhite;
  text-shadow: rgba(0,0,0,.15) 0 0 1px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: $fontSizeXL;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: $fontSizeL;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: $fontSizeM;
}

b, strong, th {
  font-weight: bold;
}

a {
  color: $colorPrimary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $colorPrimary;
    text-decoration: underline;
  }
}

button::-moz-focus-inner {
  border: none;
}

input {
  font-family: "Roboto";
}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

th, td {
  vertical-align: middle;
}
