.container {
  width: $widthContainer;
  padding-left: $paddingContainer;
  padding-right: $paddingContainer;
  margin-left: auto;
  margin-right: auto;

  &:after {
    clear: both;
    display: table;
    content: "";
  }
}

@media (max-width: $breakpointMD) {
  .container {
    width: auto;
  }
}