.wrapper {
  position: relative;
}

.inputWrapper {
  box-sizing: border-box;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  font-size: $fontSizeM;
  font-weight: $fontWeightLight;
  line-height: 1.8;
  color: $colorTextPrimary;
  background: $colorBackgroundInput;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  border: 0;
  border-radius: $radiusDefault;

  &:focus {
    background-size: 100% 2px,100% 1px;
    outline: 0;
    transition-duration: .3s;
  }
}

.input::placeholder {
  color: $colorTextSecondary;
  font-size: $fontSizeM;
  font-weight: $fontWeightRegular;
  box-sizing: border-box;
}