.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-weight: $fontWeightRegular;
}

.text {
  color: $colorTextSecondary;
  font-weight: $fontWeightLight;
}